@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto:100,300,400,500');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
$mynewcolor:#e84a4a;

.btn-danger {
    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}
a:hover{
  text-decoration: none !important;
}
body{
  font-family: 'Roboto', sans-serif;
}
.nav-top{
  z-index: 1 !important;
}
.nav-top a{
  font-size: 12px;
  color: #c0c0c0;
  &:hover{
    text-decoration: none;
    color: #fff;
  }
}
.nav-container{
  padding: 0;
}
.navbar-nav li{
  padding: 18px;

}
.navbar-nav a{
  padding: 0.5rem;
  font-size: 18px;
}
.navbar-profile{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: #242527;
  margin-right: 25px;
}

.content{
  margin-top: 130px;
}