
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
  font-family: 'Roboto', sans-serif;
}
.bg-primary{
  background-color: #1d1e20;
}
.navbar{
  padding: 0;
}
.nav-top{
  z-index: 1 !important;
}
.nav-top a{
  font-size: 12px;
  color: #c0c0c0;
  &:hover{
    text-decoration: none;
    color: #fff;
  }
}
.nav-logos{
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-logos svg{
  width: 20px !important;
  height: 20px !important;
  path{
    transition: 0.1s ease-in-out;
  }
  &:hover path{
    fill: #fff;
  }
}
.nav-logos > li {
  padding-left: 10px;
  padding-right: 10px;
}
.nav-logos img {
  display:block;
}
.nav-logos ul{
  float:left;
}
.nav-logos-line-1{
  height: 53px;
  border-left: 1px solid #171719;
  border-right: 1px solid #2b2c2f;
}
.nav-logos-line-2{
  height: 53px;
  border-left: 1px solid #2b2c2f;
  border-right: 1px solid #171719;
}
.navbar-profile{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: #242527;
  margin-right: 25px;
}
.dropdown-country{
  min-width:50px;
  .dropdown-item{
    &:hover{
      background: rgba(124, 124, 124, 0.1);
    }
    &:focus{
      background: rgba(124, 124, 124, 0.1);
    }
  }
}
.dropdown-country-btn:hover{
  cursor: pointer;
}
.current{
  background-color: #e84a4a;
}
.nav-links > li{
  padding: 18px;
  &:hover{
    cursor:pointer;
  }
}
.nav-links > li > a{
  font-size: 18px;
  color: #dddddd !important;
}
.home{
  padding-left: 20px;
  padding-right: 20px;
}
.nav-links > li:hover a{
  color: rgba(255,255,255,1) !important;
}
.search{
  border: none !important;
  background: #242527;
}
.hr-red{
  background: #e84a4a;
  height: 3px;
  margin: 0 !important;
  border:none !important;
}
.search-popover{
  background: rgba(26, 26, 27, 1);
  position:fixed;
  top: -100%;
  height: 100%;
  width: 100%;
  z-index: 2;
  color: #000;
}
.hide-scrollbar{
  position: fixed;
  top:0; right:0; bottom:0; left:0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}