.posts > div{
    margin-left: 40px;
    margin-bottom: 40px;
}
.posts > div > div{
    margin-bottom: 20px;
}
.posts > div > div > p {
    font-weight: 300;
    font-size: 14px;   
    color: #a3abaf;
}
.posts p{
    max-width: 646px;
    margin-top: 10px;
    color: #585858;
    font-weight: 400;
    font-size: 16px;
}
.posts a{
    margin-top: 10px;
    color: #2768d1;
    line-height: 40px;
    font-size: 30px;
    font-weight: 500;
}
.posts > div > a{
    font-size: 16px;
}